.component {
  columns: 5 200px;
  column-gap: 16px;
  width: 100%;
  margin: 0;
  padding: 0;
  
  li {
    display: inline-block;
    width: 100%;
    margin-bottom: 16px;

    .cover {
      display: flex;
      justify-content: center;
      width: 100%;
      overflow: hidden;

      img {
        width: 100%;
      }
    }
  }
}