
// COLORS
$white: #FFFFFF;
$black: #000000;
$primary: #FFCC00;

$light-gray: #C4C4C4;
$gray: #B7B7B7;
$dark-gray: #848389;

// FONT
$font-default: 'Rubik';

// SIZES
$xsmall: 4px;
$small: 8px;
$lsmall: 12px;
$smedium: 16px;
$medium: 20px;
$lmedium: 24px;
$slarge: 40px;
$large: 48px;
$llarge: 64px;
$ularge: 80px;
